@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/icomoon.eot');
    src:  url('./assets/fonts/icomoon.eot#iefix') format('embedded-opentype'),
      url('./assets/fonts/icomoon.ttf') format('truetype'),
      url('./assets/fonts/icomoon.woff') format('woff'),
      url('./assets/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="i-icomoon-"], [class*=" i-icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .i-icomoon-home1:before {
    content: "\f556";
  }
  .i-icomoon-home2:before {
    content: "\f557";
  }
  .i-icomoon-home3:before {
    content: "\f558";
  }
  .i-icomoon-office:before {
    content: "\ed78";
  }
  .i-icomoon-newspaper:before {
    content: "\f559";
  }
  .i-icomoon-pencil:before {
    content: "\f55a";
  }
  .i-icomoon-pencil2:before {
    content: "\f55b";
  }
  .i-icomoon-quill:before {
    content: "\f55c";
  }
  .i-icomoon-pen:before {
    content: "\f55d";
  }
  .i-icomoon-blog:before {
    content: "\f55e";
  }
  .i-icomoon-eyedropper:before {
    content: "\f55f";
  }
  .i-icomoon-droplet:before {
    content: "\f560";
  }
  .i-icomoon-paint-format:before {
    content: "\f561";
  }
  .i-icomoon-image:before {
    content: "\f562";
  }
  .i-icomoon-images:before {
    content: "\f563";
  }
  .i-icomoon-camera1:before {
    content: "\f564";
  }
  .i-icomoon-headphones:before {
    content: "\f565";
  }
  .i-icomoon-music:before {
    content: "\f566";
  }
  .i-icomoon-play:before {
    content: "\f567";
  }
  .i-icomoon-film:before {
    content: "\f568";
  }
  .i-icomoon-video-camera:before {
    content: "\f569";
  }
  .i-icomoon-dice:before {
    content: "\f56a";
  }
  .i-icomoon-pacman:before {
    content: "\f56b";
  }
  .i-icomoon-spades:before {
    content: "\f56c";
  }
  .i-icomoon-clubs:before {
    content: "\f56d";
  }
  .i-icomoon-diamonds:before {
    content: "\f56e";
  }
  .i-icomoon-bullhorn:before {
    content: "\f56f";
  }
  .i-icomoon-connection:before {
    content: "\f570";
  }
  .i-icomoon-podcast:before {
    content: "\f571";
  }
  .i-icomoon-feed:before {
    content: "\f572";
  }
  .i-icomoon-mic1:before {
    content: "\f573";
  }
  .i-icomoon-book1:before {
    content: "\f574";
  }
  .i-icomoon-books:before {
    content: "\f575";
  }
  .i-icomoon-library:before {
    content: "\f576";
  }
  .i-icomoon-file-text:before {
    content: "\f577";
  }
  .i-icomoon-profile:before {
    content: "\f578";
  }
  .i-icomoon-file-empty:before {
    content: "\f579";
  }
  .i-icomoon-files-empty:before {
    content: "\f57a";
  }
  .i-icomoon-file-text2:before {
    content: "\f57b";
  }
  .i-icomoon-file-picture:before {
    content: "\f57c";
  }
  .i-icomoon-file-music:before {
    content: "\f57d";
  }
  .i-icomoon-file-play:before {
    content: "\f57e";
  }
  .i-icomoon-file-video:before {
    content: "\f57f";
  }
  .i-icomoon-file-zip:before {
    content: "\f580";
  }
  .i-icomoon-copy:before {
    content: "\f581";
  }
  .i-icomoon-paste:before {
    content: "\f582";
  }
  .i-icomoon-stack:before {
    content: "\f583";
  }
  .i-icomoon-folder1:before {
    content: "\f584";
  }
  .i-icomoon-folder-open:before {
    content: "\f585";
  }
  .i-icomoon-folder-plus:before {
    content: "\f586";
  }
  .i-icomoon-folder-minus:before {
    content: "\f587";
  }
  .i-icomoon-folder-download:before {
    content: "\f588";
  }
  .i-icomoon-folder-upload:before {
    content: "\f589";
  }
  .i-icomoon-price-tag:before {
    content: "\f58a";
  }
  .i-icomoon-price-tags:before {
    content: "\f58b";
  }
  .i-icomoon-barcode:before {
    content: "\f58c";
  }
  .i-icomoon-qrcode:before {
    content: "\f58d";
  }
  .i-icomoon-ticket:before {
    content: "\f58e";
  }
  .i-icomoon-cart:before {
    content: "\f58f";
  }
  .i-icomoon-coin-dollar:before {
    content: "\f590";
  }
  .i-icomoon-coin-euro:before {
    content: "\f591";
  }
  .i-icomoon-coin-pound:before {
    content: "\f592";
  }
  .i-icomoon-coin-yen:before {
    content: "\f593";
  }
  .i-icomoon-credit-card:before {
    content: "\f594";
  }
  .i-icomoon-calculator:before {
    content: "\f595";
  }
  .i-icomoon-lifebuoy:before {
    content: "\f596";
  }
  .i-icomoon-phone1:before {
    content: "\f597";
  }
  .i-icomoon-phone-hang-up:before {
    content: "\f598";
  }
  .i-icomoon-address-book:before {
    content: "\f599";
  }
  .i-icomoon-envelop:before {
    content: "\f59a";
  }
  .i-icomoon-pushpin:before {
    content: "\f59b";
  }
  .i-icomoon-location:before {
    content: "\f59c";
  }
  .i-icomoon-location2:before {
    content: "\f59d";
  }
  .i-icomoon-compass:before {
    content: "\f59e";
  }
  .i-icomoon-compass2:before {
    content: "\f59f";
  }
  .i-icomoon-map1:before {
    content: "\f5a0";
  }
  .i-icomoon-map2:before {
    content: "\f5a1";
  }
  .i-icomoon-history1:before {
    content: "\f5a2";
  }
  .i-icomoon-clock:before {
    content: "\f5a3";
  }
  .i-icomoon-clock2:before {
    content: "\f5a4";
  }
  .i-icomoon-alarm:before {
    content: "\f5a5";
  }
  .i-icomoon-bell:before {
    content: "\f5a6";
  }
  .i-icomoon-stopwatch:before {
    content: "\f5a7";
  }
  .i-icomoon-calendar:before {
    content: "\f5a8";
  }
  .i-icomoon-printer:before {
    content: "\f5a9";
  }
  .i-icomoon-keyboard1:before {
    content: "\f5aa";
  }
  .i-icomoon-display:before {
    content: "\f5ab";
  }
  .i-icomoon-laptop:before {
    content: "\f5ac";
  }
  .i-icomoon-mobile:before {
    content: "\f5ad";
  }
  .i-icomoon-mobile2:before {
    content: "\f5ae";
  }
  .i-icomoon-tablet1:before {
    content: "\f5af";
  }
  .i-icomoon-tv1:before {
    content: "\f5b0";
  }
  .i-icomoon-drawer:before {
    content: "\f5b1";
  }
  .i-icomoon-drawer2:before {
    content: "\f5b2";
  }
  .i-icomoon-box-add:before {
    content: "\f5b3";
  }
  .i-icomoon-box-remove:before {
    content: "\f5b4";
  }
  .i-icomoon-download:before {
    content: "\f5b5";
  }
  .i-icomoon-upload:before {
    content: "\f5b6";
  }
  .i-icomoon-floppy-disk:before {
    content: "\f5b7";
  }
  .i-icomoon-drive:before {
    content: "\f5b8";
  }
  .i-icomoon-database:before {
    content: "\f5b9";
  }
  .i-icomoon-undo1:before {
    content: "\f5ba";
  }
  .i-icomoon-redo1:before {
    content: "\f5bb";
  }
  .i-icomoon-undo2:before {
    content: "\f5bc";
  }
  .i-icomoon-redo2:before {
    content: "\f5bd";
  }
  .i-icomoon-forward1:before {
    content: "\f5be";
  }
  .i-icomoon-reply1:before {
    content: "\f5bf";
  }
  .i-icomoon-bubble:before {
    content: "\f5c0";
  }
  .i-icomoon-bubbles:before {
    content: "\f5c1";
  }
  .i-icomoon-bubbles2:before {
    content: "\f5c2";
  }
  .i-icomoon-bubble2:before {
    content: "\f5c3";
  }
  .i-icomoon-bubbles3:before {
    content: "\f5c4";
  }
  .i-icomoon-bubbles4:before {
    content: "\f5c5";
  }
  .i-icomoon-user:before {
    content: "\ed79";
  }
  .i-icomoon-users:before {
    content: "\f5c6";
  }
  .i-icomoon-user-plus:before {
    content: "\f5c7";
  }
  .i-icomoon-user-minus:before {
    content: "\f5c8";
  }
  .i-icomoon-user-check:before {
    content: "\f5c9";
  }
  .i-icomoon-user-tie:before {
    content: "\f5ca";
  }
  .i-icomoon-quotes-left:before {
    content: "\f5cb";
  }
  .i-icomoon-quotes-right:before {
    content: "\f5cc";
  }
  .i-icomoon-hour-glass:before {
    content: "\f5cd";
  }
  .i-icomoon-spinner:before {
    content: "\f5ce";
  }
  .i-icomoon-spinner2:before {
    content: "\f5cf";
  }
  .i-icomoon-spinner3:before {
    content: "\f5d0";
  }
  .i-icomoon-spinner4:before {
    content: "\f5d1";
  }
  .i-icomoon-spinner5:before {
    content: "\f5d2";
  }
  .i-icomoon-spinner6:before {
    content: "\f5d3";
  }
  .i-icomoon-spinner7:before {
    content: "\f5d4";
  }
  .i-icomoon-spinner8:before {
    content: "\f5d5";
  }
  .i-icomoon-spinner9:before {
    content: "\f5d6";
  }
  .i-icomoon-spinner10:before {
    content: "\f5d7";
  }
  .i-icomoon-spinner11:before {
    content: "\f5d8";
  }
  .i-icomoon-binoculars:before {
    content: "\f5d9";
  }
  .i-icomoon-search1:before {
    content: "\f5da";
  }
  .i-icomoon-zoom-in:before {
    content: "\f5db";
  }
  .i-icomoon-zoom-out:before {
    content: "\f5dc";
  }
  .i-icomoon-enlarge:before {
    content: "\f5dd";
  }
  .i-icomoon-shrink:before {
    content: "\f5de";
  }
  .i-icomoon-enlarge2:before {
    content: "\f5df";
  }
  .i-icomoon-shrink2:before {
    content: "\f5e0";
  }
  .i-icomoon-key:before {
    content: "\f5e1";
  }
  .i-icomoon-key2:before {
    content: "\f5e2";
  }
  .i-icomoon-lock:before {
    content: "\f5e3";
  }
  .i-icomoon-unlocked:before {
    content: "\f5e4";
  }
  .i-icomoon-wrench:before {
    content: "\ed7a";
  }
  .i-icomoon-equalizer1:before {
    content: "\f5e5";
  }
  .i-icomoon-equalizer2:before {
    content: "\f5e6";
  }
  .i-icomoon-cog:before {
    content: "\f5e7";
  }
  .i-icomoon-cogs:before {
    content: "\ed7b";
  }
  .i-icomoon-hammer:before {
    content: "\f5e8";
  }
  .i-icomoon-magic-wand:before {
    content: "\f5e9";
  }
  .i-icomoon-aid-kit:before {
    content: "\f5ea";
  }
  .i-icomoon-bug:before {
    content: "\f5eb";
  }
  .i-icomoon-pie-chart:before {
    content: "\f5ec";
  }
  .i-icomoon-stats-dots:before {
    content: "\f5ed";
  }
  .i-icomoon-stats-bars:before {
    content: "\f5ee";
  }
  .i-icomoon-stats-bars2:before {
    content: "\f5ef";
  }
  .i-icomoon-trophy:before {
    content: "\f5f0";
  }
  .i-icomoon-gift:before {
    content: "\f5f1";
  }
  .i-icomoon-glass:before {
    content: "\f5f2";
  }
  .i-icomoon-glass2:before {
    content: "\f5f3";
  }
  .i-icomoon-mug:before {
    content: "\f5f4";
  }
  .i-icomoon-spoon-knife:before {
    content: "\f5f5";
  }
  .i-icomoon-leaf:before {
    content: "\f5f6";
  }
  .i-icomoon-rocket:before {
    content: "\f5f7";
  }
  .i-icomoon-meter:before {
    content: "\f5f8";
  }
  .i-icomoon-meter2:before {
    content: "\f5f9";
  }
  .i-icomoon-hammer2:before {
    content: "\f5fa";
  }
  .i-icomoon-fire:before {
    content: "\f5fb";
  }
  .i-icomoon-lab:before {
    content: "\f5fc";
  }
  .i-icomoon-magnet:before {
    content: "\f5fd";
  }
  .i-icomoon-bin:before {
    content: "\f5fe";
  }
  .i-icomoon-bin2:before {
    content: "\f5ff";
  }
  .i-icomoon-briefcase:before {
    content: "\f600";
  }
  .i-icomoon-airplane:before {
    content: "\f601";
  }
  .i-icomoon-truck:before {
    content: "\f602";
  }
  .i-icomoon-road:before {
    content: "\f603";
  }
  .i-icomoon-accessibility1:before {
    content: "\f604";
  }
  .i-icomoon-target:before {
    content: "\f605";
  }
  .i-icomoon-shield1:before {
    content: "\f606";
  }
  .i-icomoon-power1:before {
    content: "\f607";
  }
  .i-icomoon-switch:before {
    content: "\f608";
  }
  .i-icomoon-power-cord:before {
    content: "\f609";
  }
  .i-icomoon-clipboard:before {
    content: "\f60a";
  }
  .i-icomoon-list-numbered:before {
    content: "\f60b";
  }
  .i-icomoon-list1:before {
    content: "\f60c";
  }
  .i-icomoon-list2:before {
    content: "\f60d";
  }
  .i-icomoon-tree:before {
    content: "\f60e";
  }
  .i-icomoon-menu1:before {
    content: "\f60f";
  }
  .i-icomoon-menu2:before {
    content: "\f610";
  }
  .i-icomoon-menu3:before {
    content: "\f611";
  }
  .i-icomoon-menu4:before {
    content: "\f612";
  }
  .i-icomoon-cloud1:before {
    content: "\f613";
  }
  .i-icomoon-cloud-download:before {
    content: "\f614";
  }
  .i-icomoon-cloud-upload:before {
    content: "\f615";
  }
  .i-icomoon-cloud-check:before {
    content: "\f616";
  }
  .i-icomoon-download2:before {
    content: "\f617";
  }
  .i-icomoon-upload2:before {
    content: "\f618";
  }
  .i-icomoon-download3:before {
    content: "\f619";
  }
  .i-icomoon-upload3:before {
    content: "\f61a";
  }
  .i-icomoon-sphere:before {
    content: "\f61b";
  }
  .i-icomoon-earth:before {
    content: "\f61c";
  }
  .i-icomoon-link1:before {
    content: "\f61d";
  }
  .i-icomoon-flag1:before {
    content: "\f61e";
  }
  .i-icomoon-attachment1:before {
    content: "\f61f";
  }
  .i-icomoon-eye:before {
    content: "\f620";
  }
  .i-icomoon-eye-plus:before {
    content: "\f621";
  }
  .i-icomoon-eye-minus:before {
    content: "\f622";
  }
  .i-icomoon-eye-blocked:before {
    content: "\f623";
  }
  .i-icomoon-bookmark1:before {
    content: "\f624";
  }
  .i-icomoon-bookmarks1:before {
    content: "\f625";
  }
  .i-icomoon-sun:before {
    content: "\f626";
  }
  .i-icomoon-contrast:before {
    content: "\ed7c";
  }
  .i-icomoon-brightness-contrast:before {
    content: "\f627";
  }
  .i-icomoon-star-empty:before {
    content: "\f628";
  }
  .i-icomoon-star-half:before {
    content: "\f629";
  }
  .i-icomoon-star-full:before {
    content: "\f62a";
  }
  .i-icomoon-heart:before {
    content: "\f62b";
  }
  .i-icomoon-heart-broken:before {
    content: "\f62c";
  }
  .i-icomoon-man:before {
    content: "\f62d";
  }
  .i-icomoon-woman:before {
    content: "\f62e";
  }
  .i-icomoon-man-woman:before {
    content: "\f62f";
  }
  .i-icomoon-happy:before {
    content: "\f630";
  }
  .i-icomoon-happy2:before {
    content: "\f631";
  }
  .i-icomoon-smile:before {
    content: "\f632";
  }
  .i-icomoon-smile2:before {
    content: "\f633";
  }
  .i-icomoon-tongue:before {
    content: "\f634";
  }
  .i-icomoon-tongue2:before {
    content: "\f635";
  }
  .i-icomoon-sad:before {
    content: "\f636";
  }
  .i-icomoon-sad2:before {
    content: "\f637";
  }
  .i-icomoon-wink:before {
    content: "\f638";
  }
  .i-icomoon-wink2:before {
    content: "\f639";
  }
  .i-icomoon-grin:before {
    content: "\f63a";
  }
  .i-icomoon-grin2:before {
    content: "\f63b";
  }
  .i-icomoon-cool:before {
    content: "\f63c";
  }
  .i-icomoon-cool2:before {
    content: "\f63d";
  }
  .i-icomoon-angry:before {
    content: "\f63e";
  }
  .i-icomoon-angry2:before {
    content: "\f63f";
  }
  .i-icomoon-evil:before {
    content: "\f640";
  }
  .i-icomoon-evil2:before {
    content: "\f641";
  }
  .i-icomoon-shocked:before {
    content: "\f642";
  }
  .i-icomoon-shocked2:before {
    content: "\f643";
  }
  .i-icomoon-baffled:before {
    content: "\f644";
  }
  .i-icomoon-baffled2:before {
    content: "\f645";
  }
  .i-icomoon-confused:before {
    content: "\f646";
  }
  .i-icomoon-confused2:before {
    content: "\f647";
  }
  .i-icomoon-neutral:before {
    content: "\f648";
  }
  .i-icomoon-neutral2:before {
    content: "\f649";
  }
  .i-icomoon-hipster:before {
    content: "\f64a";
  }
  .i-icomoon-hipster2:before {
    content: "\f64b";
  }
  .i-icomoon-wondering:before {
    content: "\f64c";
  }
  .i-icomoon-wondering2:before {
    content: "\f64d";
  }
  .i-icomoon-sleepy:before {
    content: "\f64e";
  }
  .i-icomoon-sleepy2:before {
    content: "\f64f";
  }
  .i-icomoon-frustrated:before {
    content: "\f650";
  }
  .i-icomoon-frustrated2:before {
    content: "\f651";
  }
  .i-icomoon-crying:before {
    content: "\f652";
  }
  .i-icomoon-crying2:before {
    content: "\f653";
  }
  .i-icomoon-point-up:before {
    content: "\f654";
  }
  .i-icomoon-point-right:before {
    content: "\f655";
  }
  .i-icomoon-point-down:before {
    content: "\f656";
  }
  .i-icomoon-point-left:before {
    content: "\f657";
  }
  .i-icomoon-warning1:before {
    content: "\f658";
  }
  .i-icomoon-notification:before {
    content: "\f659";
  }
  .i-icomoon-question:before {
    content: "\f65a";
  }
  .i-icomoon-plus:before {
    content: "\f65b";
  }
  .i-icomoon-minus:before {
    content: "\f65c";
  }
  .i-icomoon-info1:before {
    content: "\f65d";
  }
  .i-icomoon-cancel-circle:before {
    content: "\f65e";
  }
  .i-icomoon-blocked:before {
    content: "\f65f";
  }
  .i-icomoon-cross:before {
    content: "\f660";
  }
  .i-icomoon-checkmark:before {
    content: "\f661";
  }
  .i-icomoon-checkmark2:before {
    content: "\f662";
  }
  .i-icomoon-spell-check:before {
    content: "\f663";
  }
  .i-icomoon-enter:before {
    content: "\f664";
  }
  .i-icomoon-exit:before {
    content: "\f665";
  }
  .i-icomoon-play2:before {
    content: "\f666";
  }
  .i-icomoon-pause1:before {
    content: "\f667";
  }
  .i-icomoon-stop1:before {
    content: "\f668";
  }
  .i-icomoon-previous:before {
    content: "\f669";
  }
  .i-icomoon-next:before {
    content: "\f66a";
  }
  .i-icomoon-backward:before {
    content: "\f66b";
  }
  .i-icomoon-forward2:before {
    content: "\f66c";
  }
  .i-icomoon-play3:before {
    content: "\f66d";
  }
  .i-icomoon-pause2:before {
    content: "\f66e";
  }
  .i-icomoon-stop2:before {
    content: "\f66f";
  }
  .i-icomoon-backward2:before {
    content: "\f670";
  }
  .i-icomoon-forward3:before {
    content: "\f671";
  }
  .i-icomoon-first:before {
    content: "\f672";
  }
  .i-icomoon-last:before {
    content: "\f673";
  }
  .i-icomoon-previous2:before {
    content: "\f674";
  }
  .i-icomoon-next2:before {
    content: "\f675";
  }
  .i-icomoon-eject1:before {
    content: "\f676";
  }
  .i-icomoon-volume-high:before {
    content: "\f677";
  }
  .i-icomoon-volume-medium:before {
    content: "\f678";
  }
  .i-icomoon-volume-low:before {
    content: "\f679";
  }
  .i-icomoon-volume-mute:before {
    content: "\f67a";
  }
  .i-icomoon-volume-mute2:before {
    content: "\f67b";
  }
  .i-icomoon-volume-increase:before {
    content: "\f67c";
  }
  .i-icomoon-volume-decrease:before {
    content: "\f67d";
  }
  .i-icomoon-loop1:before {
    content: "\f67e";
  }
  .i-icomoon-loop2:before {
    content: "\f67f";
  }
  .i-icomoon-infinite:before {
    content: "\f680";
  }
  .i-icomoon-shuffle1:before {
    content: "\f681";
  }
  .i-icomoon-arrow-up-left:before {
    content: "\f682";
  }
  .i-icomoon-arrow-up:before {
    content: "\f683";
  }
  .i-icomoon-arrow-up-right:before {
    content: "\f684";
  }
  .i-icomoon-arrow-right:before {
    content: "\f685";
  }
  .i-icomoon-arrow-down-right:before {
    content: "\f686";
  }
  .i-icomoon-arrow-down:before {
    content: "\f687";
  }
  .i-icomoon-arrow-down-left:before {
    content: "\f688";
  }
  .i-icomoon-arrow-left:before {
    content: "\f689";
  }
  .i-icomoon-arrow-up-left2:before {
    content: "\f68a";
  }
  .i-icomoon-arrow-up2:before {
    content: "\f68b";
  }
  .i-icomoon-arrow-up-right2:before {
    content: "\f68c";
  }
  .i-icomoon-arrow-right2:before {
    content: "\f68d";
  }
  .i-icomoon-arrow-down-right2:before {
    content: "\f68e";
  }
  .i-icomoon-arrow-down2:before {
    content: "\f68f";
  }
  .i-icomoon-arrow-down-left2:before {
    content: "\f690";
  }
  .i-icomoon-arrow-left2:before {
    content: "\f691";
  }
  .i-icomoon-circle-up:before {
    content: "\f692";
  }
  .i-icomoon-circle-right:before {
    content: "\f693";
  }
  .i-icomoon-circle-down:before {
    content: "\f694";
  }
  .i-icomoon-circle-left:before {
    content: "\f695";
  }
  .i-icomoon-tab1:before {
    content: "\f696";
  }
  .i-icomoon-move-up:before {
    content: "\f697";
  }
  .i-icomoon-move-down:before {
    content: "\f698";
  }
  .i-icomoon-sort-alpha-asc:before {
    content: "\f699";
  }
  .i-icomoon-sort-alpha-desc:before {
    content: "\f69a";
  }
  .i-icomoon-sort-numeric-asc:before {
    content: "\f69b";
  }
  .i-icomoon-sort-numberic-desc:before {
    content: "\f69c";
  }
  .i-icomoon-sort-amount-asc:before {
    content: "\f69d";
  }
  .i-icomoon-sort-amount-desc:before {
    content: "\f69e";
  }
  .i-icomoon-command:before {
    content: "\ed7d";
  }
  .i-icomoon-shift:before {
    content: "\f69f";
  }
  .i-icomoon-ctrl:before {
    content: "\f6a0";
  }
  .i-icomoon-opt:before {
    content: "\f6a1";
  }
  .i-icomoon-checkbox-checked:before {
    content: "\f6a2";
  }
  .i-icomoon-checkbox-unchecked:before {
    content: "\f6a3";
  }
  .i-icomoon-radio-checked:before {
    content: "\f6a4";
  }
  .i-icomoon-radio-checked2:before {
    content: "\f6a5";
  }
  .i-icomoon-radio-unchecked:before {
    content: "\f6a6";
  }
  .i-icomoon-crop1:before {
    content: "\f6a7";
  }
  .i-icomoon-make-group:before {
    content: "\f6a8";
  }
  .i-icomoon-ungroup:before {
    content: "\f6a9";
  }
  .i-icomoon-scissors:before {
    content: "\f6aa";
  }
  .i-icomoon-filter1:before {
    content: "\f6ab";
  }
  .i-icomoon-font:before {
    content: "\ed7e";
  }
  .i-icomoon-ligature:before {
    content: "\f6ac";
  }
  .i-icomoon-ligature2:before {
    content: "\f6ad";
  }
  .i-icomoon-text-height:before {
    content: "\f6ae";
  }
  .i-icomoon-text-width:before {
    content: "\f6af";
  }
  .i-icomoon-font-size:before {
    content: "\f6b0";
  }
  .i-icomoon-bold:before {
    content: "\f6b1";
  }
  .i-icomoon-underline:before {
    content: "\f6b2";
  }
  .i-icomoon-italic:before {
    content: "\f6b3";
  }
  .i-icomoon-strikethrough:before {
    content: "\f6b4";
  }
  .i-icomoon-omega:before {
    content: "\f6b5";
  }
  .i-icomoon-sigma:before {
    content: "\f6b6";
  }
  .i-icomoon-page-break:before {
    content: "\f6b7";
  }
  .i-icomoon-superscript:before {
    content: "\f6b8";
  }
  .i-icomoon-subscript:before {
    content: "\f6b9";
  }
  .i-icomoon-superscript2:before {
    content: "\f6ba";
  }
  .i-icomoon-subscript2:before {
    content: "\f6bb";
  }
  .i-icomoon-text-color:before {
    content: "\f6bc";
  }
  .i-icomoon-pagebreak:before {
    content: "\f6bd";
  }
  .i-icomoon-clear-formatting:before {
    content: "\f6be";
  }
  .i-icomoon-table:before {
    content: "\f6bf";
  }
  .i-icomoon-table2:before {
    content: "\f6c0";
  }
  .i-icomoon-insert-template:before {
    content: "\f6c1";
  }
  .i-icomoon-pilcrow:before {
    content: "\f6c2";
  }
  .i-icomoon-ltr:before {
    content: "\f6c3";
  }
  .i-icomoon-rtl:before {
    content: "\f6c4";
  }
  .i-icomoon-section:before {
    content: "\f6c5";
  }
  .i-icomoon-paragraph-left:before {
    content: "\f6c6";
  }
  .i-icomoon-paragraph-center:before {
    content: "\f6c7";
  }
  .i-icomoon-paragraph-right:before {
    content: "\f6c8";
  }
  .i-icomoon-paragraph-justify:before {
    content: "\f6c9";
  }
  .i-icomoon-indent-increase:before {
    content: "\f6ca";
  }
  .i-icomoon-indent-decrease:before {
    content: "\f6cb";
  }
  .i-icomoon-share1:before {
    content: "\f6cc";
  }
  .i-icomoon-new-tab:before {
    content: "\f6cd";
  }
  .i-icomoon-embed:before {
    content: "\f6ce";
  }
  .i-icomoon-embed2:before {
    content: "\f6cf";
  }
  .i-icomoon-terminal:before {
    content: "\f6d0";
  }
  .i-icomoon-share2:before {
    content: "\f6d1";
  }
  .i-icomoon-mail:before {
    content: "\f6d2";
  }
  .i-icomoon-mail2:before {
    content: "\f6d3";
  }
  .i-icomoon-mail3:before {
    content: "\f6d4";
  }
  .i-icomoon-mail4:before {
    content: "\f6d5";
  }
  .i-icomoon-amazon:before {
    content: "\f6d6";
  }
  .i-icomoon-google:before {
    content: "\f6d7";
  }
  .i-icomoon-google2:before {
    content: "\f6d8";
  }
  .i-icomoon-google3:before {
    content: "\f6d9";
  }
  .i-icomoon-google-plus:before {
    content: "\f6da";
  }
  .i-icomoon-google-plus2:before {
    content: "\f6db";
  }
  .i-icomoon-google-plus3:before {
    content: "\f6dc";
  }
  .i-icomoon-hangouts:before {
    content: "\f6dd";
  }
  .i-icomoon-google-drive:before {
    content: "\f6de";
  }
  .i-icomoon-facebook:before {
    content: "\f6df";
  }
  .i-icomoon-facebook2:before {
    content: "\f6e0";
  }
  .i-icomoon-instagram:before {
    content: "\f6e1";
  }
  .i-icomoon-whatsapp:before {
    content: "\f6e2";
  }
  .i-icomoon-spotify:before {
    content: "\f6e3";
  }
  .i-icomoon-telegram:before {
    content: "\f6e4";
  }
  .i-icomoon-twitter:before {
    content: "\f6e5";
  }
  .i-icomoon-vine:before {
    content: "\f6e6";
  }
  .i-icomoon-vk:before {
    content: "\f6e7";
  }
  .i-icomoon-renren:before {
    content: "\f6e8";
  }
  .i-icomoon-sina-weibo:before {
    content: "\f6e9";
  }
  .i-icomoon-rss:before {
    content: "\f6ea";
  }
  .i-icomoon-rss2:before {
    content: "\f6eb";
  }
  .i-icomoon-youtube:before {
    content: "\f6ec";
  }
  .i-icomoon-youtube2:before {
    content: "\f6ed";
  }
  .i-icomoon-twitch:before {
    content: "\f6ee";
  }
  .i-icomoon-vimeo:before {
    content: "\f6ef";
  }
  .i-icomoon-vimeo2:before {
    content: "\f6f0";
  }
  .i-icomoon-lanyrd:before {
    content: "\f6f1";
  }
  .i-icomoon-flickr:before {
    content: "\f6f2";
  }
  .i-icomoon-flickr2:before {
    content: "\f6f3";
  }
  .i-icomoon-flickr3:before {
    content: "\f6f4";
  }
  .i-icomoon-flickr4:before {
    content: "\f6f5";
  }
  .i-icomoon-dribbble:before {
    content: "\f6f6";
  }
  .i-icomoon-behance:before {
    content: "\f6f7";
  }
  .i-icomoon-behance2:before {
    content: "\f6f8";
  }
  .i-icomoon-deviantart:before {
    content: "\f6f9";
  }
  .i-icomoon-500px:before {
    content: "\f6fa";
  }
  .i-icomoon-steam:before {
    content: "\f6fb";
  }
  .i-icomoon-steam2:before {
    content: "\f6fc";
  }
  .i-icomoon-dropbox:before {
    content: "\f6fd";
  }
  .i-icomoon-onedrive:before {
    content: "\f6fe";
  }
  .i-icomoon-github:before {
    content: "\f6ff";
  }
  .i-icomoon-npm:before {
    content: "\f700";
  }
  .i-icomoon-basecamp:before {
    content: "\f701";
  }
  .i-icomoon-trello:before {
    content: "\f702";
  }
  .i-icomoon-wordpress:before {
    content: "\f703";
  }
  .i-icomoon-joomla:before {
    content: "\f704";
  }
  .i-icomoon-ello:before {
    content: "\f705";
  }
  .i-icomoon-blogger:before {
    content: "\f706";
  }
  .i-icomoon-blogger2:before {
    content: "\f707";
  }
  .i-icomoon-tumblr:before {
    content: "\f708";
  }
  .i-icomoon-tumblr2:before {
    content: "\f709";
  }
  .i-icomoon-yahoo:before {
    content: "\f70a";
  }
  .i-icomoon-yahoo2:before {
    content: "\f70b";
  }
  .i-icomoon-tux:before {
    content: "\f70c";
  }
  .i-icomoon-appleinc:before {
    content: "\f70d";
  }
  .i-icomoon-finder:before {
    content: "\f70e";
  }
  .i-icomoon-android1:before {
    content: "\f70f";
  }
  .i-icomoon-windows:before {
    content: "\f710";
  }
  .i-icomoon-windows8:before {
    content: "\f711";
  }
  .i-icomoon-soundcloud:before {
    content: "\f712";
  }
  .i-icomoon-soundcloud2:before {
    content: "\f713";
  }
  .i-icomoon-skype:before {
    content: "\f714";
  }
  .i-icomoon-reddit:before {
    content: "\f715";
  }
  .i-icomoon-hackernews:before {
    content: "\f716";
  }
  .i-icomoon-wikipedia:before {
    content: "\f717";
  }
  .i-icomoon-linkedin:before {
    content: "\f718";
  }
  .i-icomoon-linkedin2:before {
    content: "\f719";
  }
  .i-icomoon-lastfm:before {
    content: "\f71a";
  }
  .i-icomoon-lastfm2:before {
    content: "\f71b";
  }
  .i-icomoon-delicious:before {
    content: "\f71c";
  }
  .i-icomoon-stumbleupon:before {
    content: "\f71d";
  }
  .i-icomoon-stumbleupon2:before {
    content: "\f71e";
  }
  .i-icomoon-stackoverflow:before {
    content: "\f71f";
  }
  .i-icomoon-pinterest:before {
    content: "\f720";
  }
  .i-icomoon-pinterest2:before {
    content: "\f721";
  }
  .i-icomoon-xing:before {
    content: "\f722";
  }
  .i-icomoon-xing2:before {
    content: "\f723";
  }
  .i-icomoon-flattr:before {
    content: "\f724";
  }
  .i-icomoon-foursquare:before {
    content: "\f725";
  }
  .i-icomoon-yelp:before {
    content: "\f726";
  }
  .i-icomoon-paypal:before {
    content: "\f727";
  }
  .i-icomoon-chrome:before {
    content: "\f728";
  }
  .i-icomoon-firefox:before {
    content: "\f729";
  }
  .i-icomoon-IE:before {
    content: "\f72a";
  }
  .i-icomoon-edge:before {
    content: "\f72b";
  }
  .i-icomoon-safari:before {
    content: "\f72c";
  }
  .i-icomoon-opera:before {
    content: "\f72d";
  }
  .i-icomoon-file-pdf:before {
    content: "\f72e";
  }
  .i-icomoon-file-openoffice:before {
    content: "\f72f";
  }
  .i-icomoon-file-word:before {
    content: "\f730";
  }
  .i-icomoon-file-excel:before {
    content: "\f731";
  }
  .i-icomoon-libreoffice:before {
    content: "\f732";
  }
  .i-icomoon-html-five:before {
    content: "\f733";
  }
  .i-icomoon-html-five2:before {
    content: "\f734";
  }
  .i-icomoon-css3:before {
    content: "\f735";
  }
  .i-icomoon-git:before {
    content: "\f736";
  }
  .i-icomoon-codepen:before {
    content: "\f737";
  }
  .i-icomoon-svg:before {
    content: "\f738";
  }
  .i-icomoon-IcoMoon:before {
    content: "\f739";
  }