/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*                         Arquivo de variáveis                       */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

// Tipografia
$font-family-body: "Montserrat", sans-serif;
$font-family-body-9: 9px;
$font-family-body-10: 10px;
$font-family-body-11: 11px;
$font-family-body-12: 12px;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$font-family-heading: "Open Sans", sans-serif;
$font-family-heading-13: 13px;
$font-family-heading-16: 16px;
$font-family-heading-24: 24px;
$font-family-heading-30: 30px;
$font-family-heading-40: 40px;

// Cores
$background: #E5E5E5;
$orange: #FF5C00;
$orange_2: #fAA574;
$blue_1: #005AFF;
$blue_2: #BAD2FF;
$blue_3: #0041B8;
$gray_1: #F8F8F8;
$gray_2: #E8E8E8;
$gray_3: #606060;
$gray_4: #363636;
$gray_5: #D4D4D4;
$gray_6: #E5E5E5;
$gray_7: #AAAAAA;
$white: #FFFFFF;
$dark: #222222;
$transparent: transparent;

// Drop-Shadow
$drop-shadow: 0px 1px 20px rgba(0,0,0,0.1);
$box-shadow: rgba(0,0,0,0.2);
$box-shadow-2: 1px 2px 4px rgba(0,0,0,0.1);

